{% extends 'blog/base.html' %}

{% block content %}

<h1>Appreciations</h1>
<ul>
    <li>Best Paper award for the paper titled "Opinion of Specific Tweets on Twitter" in the International Conference on “Emerging Trends in Circuit branch Technologies and Applications”, 04-04-2021</li>
    <li>BEST Paper award for the paper titled "Vectorization of Python Programs Using Recursive LSTM Autoencoders", Manipal University Jaipur is going to organize 3rd International Conference on “Innovations in Computational Intelligence and Computer Vision” (ICICV-2022) during Nov 24-25, 2022</li>
    <li>Resource Person for one week hands-on workshop on “Python” from 17-23rd August 2020 Organised by EESA - MVSREC in association with Spoken Tutorial</li>
    <li>Faculty Coordinator for organizing webinar on Applied Machine Learning with WEKA, 11-05-2020</li>
    <li>Chief Faculty Coordinator for Three-Day Workshop on Big Data _ Hadoop with Hands-on, 17-02-2018</li>
    <li>Coordinator MVSREC SANGAMAM-2013</li>
    <li>Resource person for the Hands-on Sessions on "R: A Tool for Data Analytics and Machine Learning with Hands-On" from 12-09-2022 to 17-09-2022</li>
    <li>Resource person for - "Hands on Python" 25-02-2017</li>
    <li>Resource Person for "One Week Workshop on Machine Learning-Trends & Applications 7th- 12h February 2018 Organized By Department of CSE In Collaboration with IEEE &CSI- MVSR Student Chapter</li>
    <li>Resource Person for 3-Day workshop on "Introduction to Deep Learning" from 25th to 27th Sep 2019</li>
    <li>Alteryx SparkED Educator Certificate (For successfully completing the Alteryx SparkED Educator Training on FOUNDATION MICRO - CREDENTIAL & DESIGNER CORE) 25-05-2023</li>
    <li>Program Co Ordinator Certificate, 21 Days Masterclass on Python Programming, 14-11-2023</li>
    <li>Elite+Silver(84%), for Introduction to Machine Learning, by NPTEL in 29 September, 2019.</li>
    <li>Merit Certificate, for Neural Networks, by S. V. Institute Of Computer Studies, Mehsana, Gujrat India. in 09 January, 2005.</li>
</ul>
    
{% endblock %}