{% extends 'blog/base.html' %}

{% block content %}
<h2>Profile</h2>
<p>here is image</p>
<p>GANOJU MANASA</p>
<p>Btech 3rd year in cyber sercurity</p>
<p> Email: ganojumanasa@gmail.com</p>
<p> phone: 000000000</p>
<h1> academic Qualification</h1>
<table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Degree</th>
            <th>Institution</th>
            <th>Year of Completion</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>B.Tech</td>
            <td>Mallareddy </td>
            <td>2026</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Dipolma</td>
            <td>St.peters</td>
            <td>2023</td>
            <td>A</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>zphs</td>
            <td>2020</td>
            <td>A</td>
        <!-- Add more rows as needed -->
    </tbody>
</table>
<h2>Work Experience:</h2>
<ul>
    <li>Assistant Professor, Computer Science Department, G.M.R.I.T, 24th June 2006 to 26th April 2007.</li>
    <li>Assistant Professor, Computer Science Department, M.V.S.R.E.C, 5th May 2007 to Till Date.</li>
</ul>
<h2>Areas Of Interest:</h2>
<ul>
    <li>Data Mining</li>
    <li>Data Analytics</li>
    <li>Machine Learning</li>
    <li>NLP<li>
</ul>
<h2>Subjects Taught:</h2>
<ul>
    <li>Data Mining</li>
    <li>Data Science Using R</li>
    <li>Machine Learning</li>
    <li>Graph Theory</li>
    <li>Data Base Management System</li>
    <li>Discrete Mathematics</li>
    <li>Programming in Python</li>
    <li>Object oriented Programming Using Java</li>
    <li>Data Structures Using C++</li>
    <li>Programming in C& C++</li>
    <li>C& Data Structures</li>
</ul>
<h2>Projects Guided:</h2>
<ul>
    <li>Image Classification Using Deep Net Features</li>
    <li>Diabetes Prediction</li>
    <li>Object recognition in indoor using opencv</li>
    <li>Image Retrieval Using different Similarity Metrics</li>
    <li>Attribute selection using MST for high dimensional data</li>
    <li>An Automated Approach For Software Bug Classification</li>
    <li>Document Retrieval By Content</li>
    <li>Evaluation Of Association Rule Mining With Frequent Item Set</li>
    <li>Clustering Text Documents</li>
    <li>Data Distribution Reranking Model for Web Image Search</li>
    <li>Classification Of Music Genres</li>
    <li>Classification Analysis of frequent subgraph mining algorithms</li>
    <li>Private searching on streaming data based on key word frequency</li>
    <li>Supply Chain Management</li>
    <li>Web Site Publishing System</li>
<ul>
    

    
{% endblock %}
