{% extends 'blog/base.html' %}

{% block content %}

<h1>Publications</h1>
<h3>Papers Published in Journals</h3>
<ul>
    <li>Battula, Venkataramana. "Feature Selection Methods for High Dimensional Data." IJMETMR ISSN No:2348-4845, Vol:3, Issue No:2, 2016, Link.</li>
    <li>Battula, Venkataramana, and Saritha Ambati. "Evaluation of Images Using Various Distance Metrics." Int. J. Engi. Res. Appl 8 (2018): 29-34.</li>
    <li>Battula, Venkataramana, B. Sandhya, and AV Krishna Prasad. "Image Retrieval Using Color Features." Copyright: Siva Sivani Institute of Management, Secunderabad, India. SuGyaan is a bi-annual publication of the Siva Sivani Institute of Management, NH-7, Kompally, Secunderabad-500 100.: 33.</li>
    <li>Battula, Venkataramana. "Android Malware Detection by Neural Network Using Keras.” The International Journal of Analytical and Experimental Modal Analysis ISSN NO:0886-9367, Volume XII, Issue VI, June/2020, 343-347, Link.</li>
    <li>Kokkula, A., Harika, C., Vuppula, V. C., & Battula, V. (2024). "IoT Based Fault Detection of Underground Cables Using Node MCU." Industrial Engineering Journal, 53(2), 131.</li>
    <li>Battula, V., Chirravuri, A., Taj, T., Bitla, N. R. (2024). "QA in Indian Languages: An Extensive Survey of Current Research." Industrial Engineering Journal, 53(2), 8.</li>
</ul>
<h3>Paper Presentations at Conference</h3>
<ul>
    <li>Battula, "Comparative Survey On Frequent Pattern Mining Methods” at National Conference on Advances in Information Technology, MVSREC. BS publication ISBN:978-93-5230-099-0, 22-23 Jan 2016</li>
    <li>Battula, "FEATURE SELECTION ON DEEP CNN FEATURES USED FOR IMAGE” in ICEAT 2019, ENGINEERING AND ADVANCEMENT IN TECHNOLOGY– 2019”, INTERNATIONAL CONFERENCE, APRIL 2019, ISBN: 978-93-81288-18-4, Lords Institute of Engineering & Technology, Shakespeare Publications, Chennai. Design & Printed by: United Bind Graphics, Chennai.</li>
    <li>Byreddy RR, Malladi S, Srikanth BV, Battula V. Analysis of different methodologies for sentiment in Hindi language. In Smart Intelligent Computing and Applications, Volume 1: Proceedings of Fifth International Conference on Smart Computing and Informatics (SCI 2021) 2022 Apr 19 (pp. 561-567). Singapore: Springer Nature Singapore.</li>
    <li>Battula, Venkataramana, Sai Goutham Goli, and Jitesh Nasigari. "Identification of optimal model for multi-class classification of Covid tweets." 2022 9th International Conference on Computing for Sustainable Global Development (INDIACom). IEEE, 2022.</li>
    <li>Sai Srichandra, Ravuri, Pingali Shriram Rahul, and Venkataramana Battula. "Vectorization of Python Programs Using Recursive LSTM Autoencoders." International Conference on Innovations in Computational Intelligence and Computer Vision. Singapore: Springer Nature Singapore, 2022.</li>
    <li>Padmaja Tallu, Dr AV, and Venkataramana Battula. "Sentiment Analysis for Social Media Telugu Language." (2022).</li>
    <li>Battula, Venkataramana, and K. Hima Bindu. "Domain Adaptation of Pretrained Models for Telugu Wh-Questions Check for updates." Proceedings of the 2nd International Conference on Cognitive and Intelligent Computing: ICCIC 2022, 27–28 December, Hyderabad, India; Volume 2. Springer Nature, 2023.</li>
    <li>Srichandra RS, Rahul PS, Govind MS, Battula V. Performance of Convolutional Recurrent Networks for Handwritten Text Recognition. In 2023 10th International Conference on Computing for Sustainable Global Development (INDIACom) 2023 Mar 15 (pp. 1207-1210). IEEE.</li>
    <li>Battula V, Vuyyala S, Ambati S. Retrieval of Answers from FAQ's using Word Embedding Techniques. In 2023 10th International Conference on Computing for Sustainable Global Development (INDIACom) 2023 Mar 15 (pp. 1321-1324). IEEE.</li>
</ul>

{% endblock %}


    