{% extends 'blog/base.html' %}

{% block content %}


<h1>Resource Person</h1>
<h3>Resource Person for</h3>
<ul>
    
    <li>Java Programming Essentials, 2012-13, Jawaharlal Nehru Architecture and Fine Arts University, Hyderabad</li>
    <li>Computer Programming and Problem Solving, 2011-12, 2015-16, Jawaharlal Nehru Architecture and Fine Arts University, Hyderabad</li>
    <li>Hands-on Using Python, 2016-17, 2017-18, MVSREC</li>
    <li>Hands on Python, 25-02-2017</li>
    <li>One Week Workshop on Machine Learning-Trends & Applications 7th- 12h February 2018 Organized By Department of CSE In Collaboration with IEEE &CSI- MVSR Student Chapter</li>
    <li>Applied Machine Learning with WEKA, 11-05-2020</li>
    <li>One week hands-on workshop on “Python” from 17-23rd August 2020 Organised by EESA - MVSREC in association with Spoken Tutorial</li>
    <li>3-Day workshop on "Introduction to Deep Learning" from 25th to 27th Sep 2019</li>
    <li>Hands-on Sessions on "R: A Tool for Data Analytics and Machine Learning with Hands-On" from 12-09-2022 to 17-09-2022</li>
</ul>

{% endblock %}
