{% extends 'blog/base.html' %}

{% block content %}

<h1>Workshops/FDP/Conference/Seminar Conducted</h1>
<h4>Workshops</h4>
<ul>
    <li>Emerging Application Areas Of Image Processing, 17th-18th December, 2012, 2-Days, CSED, MVSREC</li>
    <li>Data Mining Using WEKA tool, 2-Day, CSI, MVSREC</li>
    <li>Three-Day Workshop on Big Data & Hadoop with Hands-on (15th Feb 2018 – 17th Feb 2018) Organized by the Departments CSE&IT Under ISTE Chapter in Association with Robokart</li>
    <li>Five-Day Workshop on Salesforce Essentials for Business Specialist (BSX101), 21-01-2019 to 25-01-2019 at MVSREC</li>
    <li>The One Week Workshop on MACHINE LEARNING FUNDAMENTALS FOR ENGINEERING APPLICATIONS (25th February 2019 – 02nd March 2019) was organized by Dept of Computer Science and Engineering</li>
</ul>
<h4>FDP</h4>
<ul>
    <li>Android Application Development, 16th July 2015, 1-Day, Tech Fort Software Services Private Limited. CSED, MVSREC</li>
    <li>A three-day workshop on Soft Computing, 22nd 23rd & 24th February, 2018 Organized by CSED, MVSREC<li>
</ul>
<h3>Conference</h3>
<ul>
    
    <li>16th INDIACom; 2022 09th International Conference on Computing for Sustainable Global Development, held from 23rd to 25th March 2022, featuring a special session on "Advances in Remote Sensing and Medical Applications using Machine and Deep Learning" hosted by Maturi Venkata Subba Rao (MVSR) Engineering College, Hyderabad</li>
    <li>17thINDIACom-2023, the 17th International Conference on Computing for Sustainable Global Development, held from 15th to 17th March 2023, featuring a special session on "Advances in Remote Sensing and Medical Applications using Machine and Deep Learning" hosted by Maturi Venkata Subba Rao (MVSR) Engineering College, Hyderabad</li>
    <li>DAPCom:International Conference on Data Acquisition, Processing and Communication held from 29th February to 02nd March 2024, organized by the Department of Computer Science and Engineering, Maturi Venkata Subba Rao (MVSR) Engineering College, Nadergul, Hyderabad, Telangana, INDIA.</li>
</ul>


{% endblock %}
    

    
