{% extends 'blog/base.html' %}

{% block content %}

<h1>Worskshop/FDP/Seminar/Conferences Attended:</h1>
<ul>
    <li>FDP (National): AICTE ATAL-EduSkills Google AI-ML FDP at Sphoorthy Engineering College (2/19/2024 - 2/24/2024)</li>
    <li>FDP (National): One Week National Level Faculty Development Programme on "Research Advancements in Natural Language Processing" at Department of Artificial Intelligence and Machine Learning, Chaitanya Bharathi Institute of Technology (Autonomous), Hyderabad (1/29/2024 - 2/2/2024)</li>
    <li>FDP (National): "DATA VISUALIZATION TOOLS USING R, POWER BIA N D T A B L E A U" at M A H A T M A G A N D H I I N S T I T U T E O F T E C H N O L O G Y (A U T O N O M O U S) in association with PANTECH E LEARNING PVT LTD (9/4/2023 - 9/8/2023)</li>
    <li>Training (National): Educator Training Certificate at Alteryx SparkED Educator Training on FOUNDATION MICRO-CREDENTIAL & DESIGNER CORE (4/18/2023 - 4/28/2023)</li>
    <li>Conference (International): INDIACom-2022 (3/23/2022 - 3/25/2022)</li>
    <li>Conference (International): INDIACom-2022 (3/23/2022 - 3/25/2022)</li>
    <li>FDP (National): Deep Learning for NLP at Department of Computer Science and Engineering, National Institute of Technology Andhra Pradesh (3/21/2022 - 3/25/2022)</li>
    <li>FDP (National): "Advancements in Speech and Natural Language Processing" at the Department of Data Science & Artificial Intelligence, IcfaiTech, IFHE, Hyderabad (2/21/2022 - 2/25/2022)</li>
    <li>Refresher Course (National): A Technical Overview of Public and Private Blockchains at NIT Andhra Pradesh (2/7/2022 - 2/11/2022)</li>
    <li>FDP (National): Data Science for All at Electronics and ICT Academy, NIT Warangal (4/12/2021 - 4/23/2021)</li>
    <li>Online Course (National): Applied Natural Language Processing (9/14/2020 - 12/2/2020) - NPTEL</li>
    <li>Online Course (National): DEP LEARNING (9/14/2020 - 12/2/2020) - NPTEL</li>
    <li>FDP (National): Leadership & Excellence - AICTE Training And Learning (ATAL) Academy Online FDP on "Leadership & Excellence" from 2020-9-14 to 2020-9-18 at Faculty of Engineering & Technology (9/14/2020 - 9/18/2020)</li>
    <li>Workshop (International): International Workshop on Deep Learning at IWDL presented by ACM Student Chapter MVSREC (8/22/2019 - 8/26/2019)</li>
    <li>Online Course (National): Introduction to Machine Learning (7/29/2019 - 9/29/2019) - NPTEL</li>
    <li>FDP (National): Introduction to Machine Learning (7/29/2019 - 9/29/2019) - NPTEL</li>
    <li>FDP (National): Mathematics in Real Applied Computational Learning Environments (MIRACLE-2019) at MVSREC (7/1/2019 - 7/6/2019)</li>
    <li>FDP (National): Data Science Applications and Practices in "R" at MJCET (12/13/2018 - 12/18/2018)</li>
    <li>FDP (National): Foundation Program in ICT for Foundation at MVSREC (9/13/2018 - 10/18/2018)</li>
    <li>Online Course (International): PROGRAMMING ESSENTIALS IN C (9/25/2017 - 1/7/2018) - CISCO, MVSREC</li>
    <li>Seminar (Regional): Big Data Analytics - its future at ITD, MVSREC (2/18/2017 - 2/18/2017)</li>
    <li>FDP (National): Machine Learning Recent Trends at NITW, GNITS (11/21/2016 - 11/26/2016)</li>
    <li>Workshop (National): Hands on NS2 at CSED, MVSREC (8/22/2015 - 8/22/2015)</li>
    <li>FDP National Machine Learning Recent Trends 11/21/2016 11/26/2016 NITW,GNITS</li>
    <li>Workshop Regional Internet of Things 9/27/2016 9/28/2016 Department of IT SMART -BRIDGE EDUCATIONAL SERVICES PRIVATE LIMTED 27 September 2016 at MVSREC</li>
    <li>FDP National Best Practices in Python Programming 2/8/2016 2/13/2016 Infosys,Task,GNITS</li>
    <li>FDP National Digital Video Processing 1/4/2016 1/8/2016 MVSREC</li>
    <li>Workshop National Hands on NS2 8/22/2015 8/22/2015 CSED,MVSREC</li>
    <li>STTP National Emerging Trends in Mobile and Cloud Compuing 12/29/2014 1/11/2015 at Department of CSE ,CBIT</li>
    <li>Workshop Regional E Leaning 8/30/2014 8/30/2014 ITD,MVSREC ISTE</li>
    <li>Workshop National Emerging Application Areas Of image Processing 12/17/2012 12/18/2012 CSED,MVSREC</li>
    <li>Workshop Regional Information Security Education Awareness 1/5/2012 1/5/2012 ITD MVSREC,CDAC</li>
    <li>Workshop National Statistical Computing 12/20/2010 12/24/2010 CSED,GMRIT</li>
    <li>Refresher Course National Windows Networking 6/29/2009 7/3/2009 GOI at ATI For Electronic</li>
    <li>Workshop State High Impact Teaching Skills 7/28/2008 7/28/2008 Wipro,CBIT</li>
    <li>Workshop National Recent Trends in Nano-electronics 9/8/2006 9/8/2006 ECE Dept,GMRIT</li>
<ul>
    {% endblock %}

    
    